
p {
    color:black;
    text-opacity: 1;
    background-color:RGBa(0, 191, 255, 0.7);
    background-opacity:0.6;
    border: 3px solid mediumblue;
    border-radius:14px;
    padding: 18px;
    margin: 20px
}

